.main-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16203d;
  border-radius: 80px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  width: 60%;
  padding: 9px;
  margin-top: 10px;
}

.uniLogo {
  width: 26px;
  height: 26px;
}

.userImage {
  margin-top: 80px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #3167ff;
}

.imageArea {
  position: relative;
}

.file {
  display: none;
  max-width: 100%;
}

#resposta {
  .image {
    width: 590px;
    height: 175px;
  }
}

.separator {
  margin-top: 10px;
  border-top: 2px solid #c7c7c7;
}

.preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 10px;
  border-radius: 50%;
}

.modal-lg {
  max-width: 1000px !important;
}

.overlay {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
  width: 100%;
}

.imageArea:hover .overlay {
  height: 50%;
  cursor: pointer;
}

.text {
  color: #333;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-align: center;
}

#uploaded_image {
  border-radius: 50%;
  /* Aplicando border-radius para deixar a imagem arredondada */
}
.container-input {
  padding: 10px;
}

/* CSS para centralizar o conteúdo */
.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante que o conteúdo ocupe 100% da altura da tela */
  margin: 0; /* Remove margens extras */
  flex-direction: column; /* Organiza os elementos de forma vertical */
}

.mainTitle {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer,
.buttonAplicar:hover {
  background: #0056b3;
}
.containerSig {
  overflow: auto;
  margin-top: 80px;
}
